:root{
    --cor-1: #706863;
    --cor-2: #F2B78D;
    --cor-3: #F0DFD3;
    --cor-4: #705541;
    --cor-5: #BDAFA6;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html{
    background-color: var(--cor-3);
}

body{
    position: absolute;
    text-align: center;
    background-color: rgb(99, 99, 99);
    width: 330px;
    height: 600px;
    border-radius: 20px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    color: white;
}

body > header > h1{
    padding: 20px;
}

main > .container {
    margin: auto;
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

main >.container > .produto{
    width: 99%;
    margin: auto;
    height: 420px;
    border-radius: 20px;
}

form {
    padding: 20px;
    display: block;
}

form > div{
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

form > div > input{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: none;
}

form > div > input::-webkit-input-placeholder{
    text-align: center;
    color: var(--cor-4);
    font-size: 1.3em;
}

form > input {
    text-decoration: none;
    padding: 11px;
    border-radius: 10px;
    background-color: white;
    border: none;
}

form > input:hover{
    font-size: 1.0em;
    transition: .5s;
}

form > a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 9px;
    border-radius: 10px;
}

form > a:hover{
    color: white;
    background-color: rgb(192, 185, 185);
    transition: .5s;
}