:root{
    --cor-1: #706863;
    --cor-2: #F2B78D;
    --cor-3: #F0DFD3;
    --cor-4: #705541;
    --cor-5: #BDAFA6;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html{
    background-color: var(--cor-3);
}

body{
    position: absolute;
    text-align: center;
    background-color: var(--cor-1);
    width: 330px;
    height: 600px;
    border-radius: 20px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    color: white;
}

.preencher > input{
    width: 240px;
    height: 50px;
    border: none;
    border-radius: 9px;
}

.preencher > input::-webkit-input-placeholder{
    text-align: center;
    border: none;
}

.submit > input {
    padding: 8px;
    border-radius: 10px;
    border: none;
}
main > div > a {
    color: white;
    padding: 6px;
    text-decoration: none;
    border-radius: 10px;
}

